node_modules/
dist/
*.log
*.lock
.env
.DS_Store
Thumbs.db
.idea/
.vscode/
.npm/
*.tgz
package-lock.json
yarn.lock

# TypeScript build files
*.tsbuildinfo

temp/
coverage/

# GitHub workflows
.github/

# MacOS specific files
*.DS_Store

# Ignore test and example folders (if applicable)
test/
examples/

# Ignore build cache
.next/
out/
.cache/

# Ignore npm-debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
